body{
	font-family: windlass;
}
.title{
	margin: 0 auto;
	text-align: center;
	margin: 100px;
	font-size: 2.5em;
}
.questions-container{
	text-align: center;
}
button{
	font-size: 1.5em;
	font-family: windlass;
	border-radius: .5em;
	padding: 5px;
}
button:focus{
	outline: none;
}
.drink{
	text-align: center;
	margin: 50px;
}
.drink-name{
	font-size: 1.75em;
}
.another{
	display: none;
}
.drink-ingredients{
	list-style: none;
	padding-left: 0px;
}
.drink-ingredients li{
	padding: 5px;
	text-align: center;
}